{
    "series": {
        "A-Series": [
            "palkia",
            "dialga",
            "arceus",
            "shining",
            "mew",
            "pikachu",
            "charizard",
            "mewtwo",
            "solgaleo",
            "lunala",
            "buzzwole",
            "eevee",
            "hooh",
            "lugia",
            "springs",
            "deluxe"
        ],
        "B-Series": [
            "megagyarados",
            "megaaltaria",
            "megablaziken",
            "crimsonblaze",
            "parade"
        ]
    },
    "packs": [
        "palkia",
        "dialga",
        "arceus",
        "shining",
        "mew",
        "pikachu",
        "charizard",
        "mewtwo",
        "solgaleo",
        "lunala",
        "buzzwole",
        "eevee",
        "hooh",
        "lugia",
        "springs",
        "deluxe",
        "megagyarados",
        "megaaltaria",
        "megablaziken",
        "crimsonblaze",
        "parade"
    ],
    "error_webhook_url": "https://discord.com/api/webhooks/YOUR_ERROR_WEBHOOK_ID/YOUR_ERROR_WEBHOOK_TOKEN",
    "permission_warning_webhook_url": "https://discord.com/api/webhooks/YOUR_WARNING_WEBHOOK_ID/YOUR_WARNING_WEBHOOK_TOKEN",
    "owner_id": 123456789,
    "timezone": "Europe/Berlin"
}
